/* fonts files */
.lato-light {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}
.lato-reg {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}

/*colors*/
@white: #fff;
@base: #34383d;
@base-hover: #41bedd;
@start-gradient: #7c28b1;
@end-gradient: #35eef6;
@bg-hover: #f7f9f9;
@btn: #d1d5d8;
@contact-icon: #a255c4;
@bg-icon-facebook: #39599f;
@bg-icon-twitter: #40bff5;
@bg-icon-google: #eb5b4c;
@bg-icon-pinterest: #b8242a;
@bg-icon-dribbble: #e65992;
@bg-icon-flickr: #ff1981;
@bg-icon-youtube: #cd322c;
@bg-icon-vimeo: #44bbff;
@bg-icon-instagram: #a47a5e;
@bg-icon-linkedin: #328dd3;
@footer-bg: #e3e7e9;
@border: #cbd0d4;


/*widths*/
@tablet-widths: ~"(min-width: 768px)";
@desktop-widths: ~"(min-width: 1200px)";
@mobile-width-only: ~"(max-width: 767px)";

